h1{
    background-color:hsl(226, 80%, 61%);
    color:  #09A7A1;
    border-left: solid hsl(202, 85%, 3%);
    border-width: 4px;
    font-size: 80px;  
    color: hsl(0, 75%, 2%); 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    
}

.navbar{
    position: fixed;
    top:20px;
    right: 50px;
}

a{
    background-color: #09070ad7;
    color: white;
    font-size: 1.em;
    font-weight:bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;

}
a:hover {
    color:rgb(186, 63, 202);
    transform: scale(3.1);

  }
.img-3{
    width: 15vw;
    border: solid rgb(119, 250, 239) ;
    padding: 10px;
}

body{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffd79d;
    font-size: 20px;
    font-weight: normal;
    color:white;
    background-color: darkred;
   
}

.warp-contant{
    margin-left: 20%;
    margin-right:20%;
   
    border-right:   linear-gradient(95deg, red, yellow, #09A7A1);
    border-width: 30px;
    background-color:#0a0d0e ;
  
    height:100vw;
    overflow: scroll;

   
}
.img-container{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around ;
    align-items:center ;
}

.aside{

    display: flex;
  
    flex-direction: row;
    justify-content: space-around ;
    align-items:center ;
}

ul{
    display: flex;
  
    flex-direction: column;
    justify-content: space-between ;
    align-items:center ;
}

.tabel{
    background-color:rgb(122, 218, 122);
    margin: auto;
    border: rgb(24, 118, 226) ;
    border-width: 5px;
    padding: 1px;
    border-style: double;
    
}

li{
    margin-top: 20px;
    border: solid rgb(197, 218, 139);
    background-color: #070000;
    color: black;
}
#video{
    display: block;
    margin:auto;
} 
.form.container{
    margin: auto;
}


:root {
    --fcolor: repeating-linear-gradient( 45deg ,#d72631 0px,#a2d5c6 40px,#077B8A 40px,#5C3C92 80px);
    --scolor: repeating-linear-gradient( 45deg ,#CF1578 0px,#E8D21D 40px,#039FBE 40px,#B20238 80px);
    --thcolor: repeating-linear-gradient( 45deg ,#d902ee 0px,#ffd79d 40px,#f162ff 40px,#320d3e 80px);
}

#logo{
    
    
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: skewx(-10deg);
    position: relative;
    position: fixed;
    left: 20px;
    top: 10px;
    width: 80px;
    height: 70px;
    animation-name: color-logo;
    animation-iteration-count:infinite;
    animation-duration: 3s;
}
@keyframes color-logo {
    0% {
      background:var(--fcolor);
    }
    50% {
      background:var(--scolor);
    }
    100%{
      background:var(--thcolor);
    }
  }
#p-logo{
    color: rgb(3, 0, 0);
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 40px;
    top: 20px;
    position: fixed;
    font-size: 1.8em;
}
#img-p1{
    display: block;
    margin: auto;
    width: 60%;
}
#contact-me{
    
    text-align: center;
    font-weight: bold;
    color: hsl(226, 80%, 61%);

}
@media  screen and (max-width: 600px){
    h1{
      color: #f7f3f3;
         }
}
#author{
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    bottom: 20px;
    position: fixed;
    font-size: 1.em;
    right: 180px;
}
.buy-conainer{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around ;
    align-items:center ;

}
.store{
    text-align: center;
    border: #f8f4f4 solid;
    padding: 10px;
    background-color: grey;
    width: 300px;
}
button {
    background-color: #e6d931; /* Green */
    border: none;
    color: rgb(3, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
}
#survey-form{
    text-align: center;

}
table a{
background-color: rgb(140, 218, 140);
font-weight: lighter;
}



     
